<div class="jumbotron text-center">
<h1>Analyze Your Own Data</h1>
    <!doctype html>
    <title>Analyze</title>
    <form class="col-xl-12 text-center row" action = "" name="form" ng-hide='got_data'>
	<div class="form-group row">
	  <label class="col-xs-offset-2 col-xs-4 col-form-label">Bucket Name</label>
	  <div class="col-xs-3">
		<input class="form-control" type="text" ng-model="data.bucket" ng-init='data.bucket="neurodatadesign-test"'>
	  </div>
	</div>
	<div class="form-group row">
	  <label class="col-xs-offset-2 col-xs-4 col-form-label">File Path</label>
	  <div class="col-xs-3">
		<input class="form-control" type="text" ng-model="data.fpath" ng-init='data.fpath="test.mat"'>
	  </div>
	</div>
	<div class="form-group row">
	  <label class="col-xs-offset-2 col-xs-4 col-form-label">Name for Data</label>
	  <div class="col-xs-3">
		<input class="form-control" type="text" ng-model="data.name" ng-init='data.name="my_eeg_data"'>
	  </div>
	</div>
	<div class="form-group row">
	  <label class="col-xs-offset-2 col-xs-4 col-form-label">Formatting Token<a href='http://neurodatadesign.github.io/orange-panda/docs/source/_build/html/preprocessing.preprocessing_scripts.html#preprocessing.preprocessing_scripts.prep_data' class='fa fa-question-circle'></a></label>
	  <div class="col-xs-3">
		<input class="form-control" type="text" ng-model="data.token" ng-init='data.token="fcp_indi_eeg"'>
	  </div>
	</div>
	<button class="btn btn-lg btn-orange" data-ng-click="get()">Get Data</button>
    </form>
    <!-- <a href="/analyze" target="_blank">
            Click here to go to the upload portal
    </a>
    <form action="" method=post enctype=multipart/form-data>
             <input type=file name=file>
             <input type=submit value=Upload>
    </form>
    <a href="/">back</a> -->
    <button class = "btn btn-lg btn-orange" ng-show="got_data" data-ng-click="analyze()">Analyze {{data.name}}</button>
    <div class="row">
    <div class='message col-md-12 text-center'>{{ message }}</p>
    </div>
</div>
