<div class="jumbotron text-center">
<h1>Analyze Your Own Data</h1>
    <!doctype html>
    <title>Analyze</title>
    <div ng-show = 'set_bucket' ng-include src="'static/views/pages/fragments/get_data_form.html'"></div>
    <div ng-show = 'got_data' ng-include src="'static/views/pages/fragments/eeg.html'"></div>
    <button class = "btn btn-lg btn-orange" ng-show="args_set" data-ng-click="analyze()">Analyze {{data.name}}</button>
    <div class="row">
    <div class='message col-md-12 text-center'>{{ message }}</p>
    </div>
</div>
