/orange-panda/cmi_share_A00051826
pipeline/utils/tmp
*.swp
*.pyc
*.mat
*.swo
*.gif
*.ipynb_checkpoints*
webservice/files
webservice/results
webservice/set_keys.py
pipeline/src/set_keys.py
webservice/app/static/results/*
webservice/full_out.zip
