<div class="jumbotron text-center">
<h1>Explore Data</h1>
<div class="text-center col-md-12">{{ message }}</div>
<div class="container">
<table class="table-hover offset4 span4 text-center row table">
  <thead>
    <tr>
      <th>File Name</th>
      <th>Report of Analysis</th>
      <th>Zip of Analysis Files</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="n in $root.f_name_list">
      <th scope="row">{{n.f_name}}</th>
      <td><a ng-href="{{n.report}}" target="_blank">report</a></td>
      <td><a target = "_blank" ng-href="{{n.zip}}">zip file</td>
	</tr>
  </tbody>
</table>
</div>
</div>
