{
    "serviceRole": "arn:aws:iam::073388476884:role/service-role/AWSBatchServiceRole", 
    "computeResources": {
        "subnets": [
            "subnet-ec537db7", 
            "subnet-18c1a77d", 
            "subnet-dece2d96", 
            "subnet-2ad3b416", 
            "subnet-4ee0d363"
        ], 
        "tags": {}, 
        "desiredvCpus": 16, 
        "minvCpus": 1, 
        "instanceTypes": [
            "t2.micro"
        ], 
        "securityGroupIds": [
            "sg-a21ee6dd"
        ], 
        "instanceRole": "arn:aws:iam::073388476884:instance-profile/ecsInstanceRole", 
        "maxvCpus": 256, 
        "type": "EC2"
    }, 
    "state": "ENABLED", 
    "computeEnvironmentName": "pseudo-orange-panda4", 
    "type": "MANAGED"
}
